html {
  font-size: 18px;
}
.company {
  background-color: black;
  color: white;
}
.container {
  max-width: 960px;
  margin: auto;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}
.container img {
  height: 1.5em;
  padding-right: 15px;
}
